<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle requests for the Vue.js app
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [L]
</IfModule>