div.svelte-t9ifgy {
    z-index: 1000;
    margin: 0 !important;
    padding: 4px !important;
}

div.svelte-t9ifgy a {
    /* background-color: white !important; */
    background-image: url('../../../public/images/nostr-logo.png');
    background-size: contain;
    background-color: black !important;
    padding: 2em !important;
}

div.svelte-t9ifgy a:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
}

div.svelte-t9ifgy a * {
    display: none;
}

.shadow-2xl.svelte-t9ifgy {
    background: linear-gradient(#e6ae8e40, #740a8840) !important;
}

.shadow-2xl.svelte-t9ifgy button {
    background-color: #007bff;
    color: white;
}

.shadow-2xl.svelte-t9ifgy button:hover {
    background-color: white;
    outline: 2px solid #007bff;
    color: #007bff;
    transition-duration: 1s;
}

.shadow-2xl.svelte-t9ifgy .bg-purple-700 {
    background-color: #007bff !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

#message-input {
    color: white;
    height: 40px;
    border: none;
    margin-top: 10px;
}

#message-input+button {
    border: none !important;
    border-radius: 100px !important;
}

@media(min-width:0) and (max-width:767px) {
    .shadow-2xl.svelte-t9ifgy button {
        padding: 10px !important;
    }

    div.svelte-t9ifgy a {
        padding: 28px !important;
    }
    .right-5.svelte-t9ifgy {
        right: 0 !important;
    }
    .flex.svelte-t9ifgy {
        align-items: end !important;
    }
    .font-bold.svelte-t9ifgy {
        font-size: 19px !important;
    }
}